@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-divider {
    border-left: 1px solid #D5D1CC;
    height: 100%;
    /* margin: 0 24px; */
}
.background-consultations {
    background-image: 
        url("../img/background-leaf-5.svg"),
        url("../img/background-circle-1.svg");
    background-position: 
        top right, 
        bottom center; 
    background-repeat: 
        no-repeat, 
        no-repeat;
}
.background-cabinets {
    background-image: 
        url("../img/background-leaf-1.svg"),
        url("../img/background-leaf-2.svg"),
        url("../img/background-wave-1.svg");
    background-position: 
        bottom left, 
        bottom right, 
        bottom center; 
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        auto, 
        auto, 
        cover;
}
.background-a-propos {
    background-image: 
        url("../img/background-leaf-3.svg"),
        url("../img/background-leaf-4.svg"),
        url("../img/background-wave-2.svg");
    background-position: 
        top left, 
        bottom right, 
        top center; 
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        auto, 
        auto, 
        cover;
}
.hamburger {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .background-cabinets {
        background-image: 
            url("../img/background-leaf-1.svg"),
            url("../img/background-leaf-2.svg"),
            url("../img/background-wave-1.svg");
        background-position: 
            bottom 11% left, 
            bottom 11% right, 
            bottom center; 
        background-repeat: 
            no-repeat, 
            no-repeat, 
            no-repeat;
        background-size: 
            auto, 
            auto, 
            cover;
    }
    .background-a-propos {
        background-image: 
            url("../img/background-leaf-3.svg"),
            url("../img/background-leaf-4.svg"),
            url("../img/background-wave-2.svg");
        background-position: 
            top left, 
            bottom right, 
            top left; 
        background-repeat: 
            no-repeat, 
            no-repeat, 
            no-repeat;
        background-size: 
            auto, 
            auto, 
            cover;
    }
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -200%;
        top: 5rem;
    }
    .nav-menu.active {
        left: 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

